img {
  width: 20%;
  border-radius: 9%;
}

* {
  color: white !important;
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    45deg,
    rgba(11, 60, 74, 1) 0%,
    rgba(0, 31, 96, 1) 100%
  );
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vh;
}

.navBar {
  margin: 5vh -3vh;
  z-index: 99999999;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
}

.navBar a {
  margin-right: 1.5vh;
  padding: 1.5vh;
  border-radius: 1000000000vh;
  background-color: rgba(255, 255, 255, 0.2);
  float: right;
  color: white;
  font-size: 2vh;
}

::-webkit-scrollbar {
  width: 1.8vh;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    rgba(11, 60, 74, 1) 100%,
    rgba(0, 31, 96, 1) 80%
  );
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    rgba(11, 60, 74, 0.8) 100%,
    rgba(0, 31, 96, 0.8) 70%
  );
}

.center iframe {
  width: 100vh;
  height: 150vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.creditBox {
  margin-right: 0.6vh;
  border: 3vh solid transparent;
}

#faill {
  display: none;
}

#title {
  font-size: 400%;
}
#slogan {
  font-size: 110%; 
  opacity: 0.95;
}

#cmbServ {
  opacity:.7;
}

#dmbServ {
  opacity:.7;
}

#discordCount {
  opacity:.7;
}

@media only screen and (max-width: 980px) {
  a.fab {
    display: none!important;
  }
  #title {
    font-size: 550%;
  }
  #slogan {
    font-size: 150%;
  }
  .navBar {
    margin: 5vh 0vh;
  }
  .navBar a {
    padding: 1.2vh;
  }
  .center iframe {
    display: none;
  }
  .noFrame {
    display:block!important;
  }
}
